.head{
    background-color: #2D7053;
    height: 237px;
    width: 752px;  
    
}
.paragraf{
    color: white;
    font-size: 30px;
    margin-top: -200px;
    padding-left: 231px;
}
.logo{
    margin-top: -170px; 
    padding-left: 35px;
}
.cabinet{
    background-image: url(./img/room.png);
    height: 470px;
    width: 752px;
    margin-top: 85px;
    
}
.button{
    background-color: #CB9223;
    height: 77px;
    width: 344px;
    font-size: 24px;
    text-align: center;
    line-height: 77px;
    color: white;
    text-transform: uppercase;
    margin-top: -100px;
    margin-left: 195px;
}
.photo{
    background-image: url(./img/photo.png);
    height: 255px;
    width: 257px;
    margin-top: 104px;
    margin-left: 35px;
    border-radius: 120px;
}
.headtextname{
    font-size: 36px;
    margin-top: -200px;
    padding-left: 358px;
}
.headtext{
    font-size: 24px;
    padding-left: 358px;
}
.text{
    font-size: 24px;
    margin-top: 200px;
    margin-left: 35px;
}
.headbottom{
    font-size: 36px;
    margin-top: 46px;
    margin-left: 35px;
}
.list{
    font-size: 24px;
    margin-top: 46px;
    margin-left: 35px;
}
.button2{
    background-color: #CB9223;
    height: 77px;
    width: 344px;
    font-size: 24px;
    text-align: center;
    line-height: 77px;
    color: white;
    text-transform: uppercase;
    margin-left: 195px;
}
.bottom{
    background-color: #888888;
    height: 156px;
    width: 752px;
    margin-top: 40px;
    font-size: 18px;
    color: #F1F1F1;
    text-align: right;
    line-height: 60px;
    padding-right: 45px;
    padding-top: 58px;
    
}
.bottomlogo{
    margin-top: -150px;
    padding-left: 35px;  
    border-radius: 72px; 
}    
.lines{
    margin-top: -110px;
    padding-left: 600px;
}