body{
    margin: 0px;
}
.head{
    background-color: #4CB1CA;
    height: 45px;
    width: 1400px;
}
.language{
    position: absolute;
    top: 14px;
    left: 189px;
    font-size: 13px;
    color: #BEF2FF;
    font-family: 'Open Sans', sans-serif
}
.languagechoice{
    color: white;
    position: relative;
    float: right;
}
.currency{
    position: absolute;
    top: 14px;
    left: 325px;
    font-size: 13px;
    color: #BEF2FF;
    font-family: 'Open Sans', sans-serif;
}
.currencychoice{
    color: white;
    position: relative;
    float: right;
    text-transform: uppercase;
}
.headmenu{
    margin: 0px;
    position: absolute;
    top: 14px;
    left: 855px;
    color: #BEF2FF;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    list-style: none; 
    min-height: 13px;
    min-width: 357px;
}
.headmenuitem{
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
li.headmenuitem:not(:last-of-type){
    border-right: 1px solid #BEF2FF;
}
a{
    text-decoration: none;
    color: inherit;
}
.headmenuitem:hover{
    text-transform: uppercase;
}
.leoshop{
    margin: 0px;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 84px;
    left: 190px;
    color: #656565;
}
div.leoshop > span{
    text-transform: uppercase;
}
.menu{
    margin: 0px;
    color: #656565;
    text-transform: uppercase;
    position: absolute;
    top: 92px;
    left: 415px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    min-height: 10px;
    min-width: 346px;
}
.menuitem{
    float: left;
    padding-right: 50px;
    font-weight: bold;
    font-size: 14px;
}
.search{
    position: absolute;
    top: 80px;
    left: 873px;
    height: 32px;
    width: 177px;
    border-color: #C6C6C6;
    border-style: solid;
    border-width: 1px;
}
.sale{
    background-color: #7DB122;
    border-radius: 50%;
    border-color: #7DB122;
    height: 38px;
    width: 38px;
    position: absolute;
    top: 77px;
    left: 1061px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
div.sale:hover{
    transform: scale(1.2, 1.2)
}
.shoppingcart{
    background-color: #7DB122;
    border-radius: 50%;
    border-color: #7DB122;
    height: 38px;
    width: 38px;
    position: absolute;
    top: 77px;
    left: 1100px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
div.shoppingcart:hover{
    transform: scale(1.2, 1.2)
}
.cart{
    color: #656565;
    position: absolute;
    top: 92px;
    left: 1143px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    min-width: 59px;
}
.glass{
    position: absolute;
    top: 138px;
}
.glasstext1{
    background-color: #726A62;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    position: absolute;
    top: 339px;
    left: 229px;
    font-family: 'Open Sans', sans-serif;
    height: 47px;
    width: 285px;
    text-align: center;
    line-height: 47px;
    font-weight: lighter;
}
.glasstext2{
    background-color: #726A62;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    position: absolute;
    top: 389px;
    left: 229px;
    font-family: 'Open Sans', sans-serif;
    height: 47px;
    width: 370px;
    text-align: center;
    line-height: 47px;
    font-weight: bold;
}
.arrowleft{
    background-image: url(./img/Ellipse\ 2.png);
    position: absolute;
    top: 351px;
    left: 112px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
div.arrowleft:active{
    transform: translateX(-20px);
    transition-duration: 200mx;
}
.arrowright{
    background-image: url(./img/Ellipse\ 2.png);
    position: absolute;
    top: 351px;
    left: 1203px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
div.arrowright:active{
    transform: translateX(20px);
    transition-duration: 200mx;
}
.product{
    font-size: 24px;
    text-transform: uppercase;
    color: #635F57;
    position: absolute;
    top: 672px;
    left: 181px;
}
.productitemnew{
    background-color: white;
    height: 315px;
    width: 252px;
    border-color: #EEEEEE;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    box-shadow: 2px 2px #eeeeee;
}
div.productitemnew > img:first-child{
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 34px;
}
div.productitemnew > img:nth-child(2){
    position: absolute;
    top: 8px;
}
div.productitemnew > img:nth-child(3){
    background-color: #7DB122;
    border-radius: 50%;
    border-color: #7DB122;
    border-style: solid;
    border-width: 8px;
    position: relative;
    top: 250px;
    left: 200px;
}
div.productitemnew > div:first-of-type{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
    top: 207px;
    left: 8px;
}
div.productitemnew > div > span{
    color: #7DB122;
    font-size: 18px;
}
div.productitemnew::after{
    display: block;
    background-color: #4CB1CA;
    content: "new";
    text-transform: uppercase;
    height: 25px;
    width: 104px;
    position: absolute;
    color: white;
    text-align: center;
    transform: rotate(45deg);
    border-radius: 70px 70px 0px 0px;
    top: 14px;
    left: 173px;
    line-height: 25px;
    border-bottom: black 1px solid;
}
.productitem{
    background-color: white;
    height: 315px;
    width: 252px;
    border-color: #EEEEEE;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    box-shadow: 2px 2px #eeeeee;
}
div.productitem > img:first-child{
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 34px;
}
div.productitem > img:nth-child(2){
    position: absolute;
    top: 8px;
}
div.productitem > img:nth-child(3){
    background-color: #7DB122;
    border-radius: 50%;
    border-color: #7DB122;
    border-style: solid;
    border-width: 8px;
    position: relative;
    top: 250px;
    left: 200px;
}
div.productitem > div:first-of-type{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
    top: 207px;
    left: 8px;
}
div.productitem > div > span{
    color: #7DB122;
    font-size: 18px;
}
.productitemsale{
    background-color: white;
    height: 315px;
    width: 252px;
    border-color: #EEEEEE;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    box-shadow: 2px 2px #eeeeee;
}
div.productitemsale > img:first-child{
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 34px;
}
div.productitemsale > img:nth-child(2){
    position: absolute;
    top: 8px;
}
div.productitemsale > img:nth-child(3){
    background-color: #7DB122;
    border-radius: 50%;
    border-color: #7DB122;
    border-style: solid;
    border-width: 8px;
    position: relative;
    top: 250px;
    left: 200px;
}
div.productitemsale > div:first-of-type{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
    top: 207px;
    left: 8px;
}
div.productitemsale > div > span{
    color: #7DB122;
    font-size: 18px;
}
div.productitemsale::after{
    display: block;
    background-color: #7db122;
    content: "sale";
    text-transform: uppercase;
    height: 25px;
    width: 104px;
    position: absolute;
    color: white;
    text-align: center;
    transform: rotate(-45deg);
    border-radius: 70px 70px 0px 0px;
    top: 14px;
    left: -24px;
    line-height: 25px;
    border-bottom: black 1px solid;
}
:root{
    --left1: 180px;
    --left2: 452px;
    --left3: 724px;
    --top1: 720px;
    --top2: 1058px;
    --top3: 1406px;
    --top4: 1818px;
    --top5: 2247px;
}
#position1{
    top: var(--top1);
    left: var(--left1);
}
#position2{
    top: var(--top1);
    left: var(--left2);
}
#position3{
    top: var(--top1);
    left: var(--left3);
}
#position4{
    top: var(--top2);
    left: var(--left1);
}
#position5{
    top: var(--top2);
    left: var(--left2);
}
#position6{
    top: var(--top2);
    left: var(--left3);
}
#position7{
    top: var(--top3);
    left: var(--left1);
}
#position8{
    top: var(--top3);
    left: var(--left2);
}
#position9{
    top: var(--top3);
    left: var(--left3);
}
.staffpick{
    font-size: 24px;
    text-transform: uppercase;
    color: #635F57;
    position: absolute;
    top: 1777px;
    left: 180px;
}
#position10{
    top: var(--top4);
    left: var(--left1);
}
#position11{
    top: var(--top4);
    left: var(--left2);
}
#position12{
    top: var(--top4);
    left: var(--left3);
}
.newproduct{
    font-size: 24px;
    text-transform: uppercase;
    color: #635F57;
    position: absolute;
    top: 2201px;
    left: 180px;
}
#position13{
    top: var(--top5);
    left: var(--left1);
}
#position14{
    top: var(--top5);
    left: var(--left2);
}
#position15{
    top: var(--top5);
    left: var(--left3);
}
.productitemsale:hover,.productitemnew:hover,.productitem:hover{
    background-color: #BEF2FF;
    transition-duration: 200ms;
}
.productitemsale:active,.productitemnew:active,.productitem:active{
    transform: translateY(-10px);
    transition-duration: 200ms;
}
.woman{
    position: absolute;
    top: 672px;
    left: 1020px;
    height: 455px;
    width: 233px;
    border-top: #4cb1ca;
    border-top-width: 4px;
    border-top-style: solid;
    padding-top: 70px;
}
.featuredglass{
    position: absolute;
    top: 30px;
    left: 60px;
    text-transform: uppercase;
    font-size: 24px;
    color: #635f57;
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: center;
}
.womanbutton{
    position: relative;
    background-color: #4cb1ca;
    width: 132px;
    height: 44px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 44px;  
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: -65px;
    margin-left: 45px;
}
.womanbutton:hover{
    background-color: white;
    color: #4CB1CA;
    transition-duration: 200ms;
}
.point{}
div.point > img:nth-of-type(1){
    position: relative;
    top: 17px;
    left: 90px;
}
div.point > img:nth-of-type(2){
    position: relative;
    top: 17px;
    left: 100px;
}div.point > img:nth-of-type(3){
    position: relative;
    top: 17px;
    left: 110px;
}
.newsletter{
    position: absolute;
    top: 1218px;
    left: 1012px;
    width: 233px;
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: #635f57;
    text-align: center;
    border-top: #4cb1ca;
    border-top-style: solid;
    border-top-width: 4px;
    padding-top: 30px;
}
div.newsletter > div{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #696969;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-color: #f1f1f1;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.subscribe{
    position: absolute;
    top: 159px;
    left: 24px;
    height: 29px;
    width: 185px;
    border-color: #C6C6C6;
    border-style: solid;
    border-width: 1px;
}
.subscribebutton{
    position: absolute;
    top: 1430px;
    left: 1077px;
    background-color: #7eb123;
    width: 112px;
    height: 44px;
    text-align: center;
    text-transform: uppercase;
    line-height: 44px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}
.subscribebutton:hover{
    background-color: #ffffff;
    color: #7eb123;
}
.bottom1{
    background-color: #4cb1ca;
    width: 1400px;
    height: 106px;
    position: absolute;
    top: 2641px;
}
.bottom1 > img:nth-of-type(1){
    position: absolute;
    top: 21px;
    left: 188px;
}
.bottom1 > img:nth-of-type(2){
    position: absolute;
    top: 21px;
    left: 743px;
}
.bottom1 > div:nth-of-type(1){
    position: absolute;
    top: 44px;
    left: 273px;
    font-family: 'Open Sans';
    font-size: 21px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
.bottom1 > div:nth-of-type(2){
    position: absolute;
    top: 44px;
    left: 828px;
    font-family: 'Open Sans';
    font-size: 21px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
.bottom2{
    position: absolute;
    top: 2745px;
    background-color: #39a0b9;
    width: 1400px;
    height: 398px;
    
}
.facebook{
    position: absolute;
    top: 51px;
    left: 188px;
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f5f5f5;
}
.facebook > p{
    text-transform: lowercase;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 0px;
}
.photo{
    height: 111px;
    width: 233px;
    position: relative;
    border-top-color: #47adc6;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 10px;
    border-bottom-color: #47adc6;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 10px;
}
.photo > img:nth-of-type(1){
    position: absolute;
    top: 10px; 
    left: 0px;
}
.photo > img:nth-of-type(2){
    position: absolute;
    top: 10px; 
    left: 61px;
}
.photo > img:nth-of-type(3){
    position: absolute;
    top: 10px; 
    left: 122px; 
}
.photo > img:nth-of-type(4){
    position: absolute;
    top: 10px; 
    left: 183px; 
}
.photo > img:nth-of-type(5){
    transform: scale(-1, 1);
    position: absolute;
    top: 70px; 
    left: 0px;
}
.photo > img:nth-of-type(6){
    transform: scale(-1, 1);
    position: absolute;
    top: 70px; 
    left: 61px;
}
.photo > img:nth-of-type(7){
    transform: scale(-1, 1);
    position: absolute;
    top: 70px; 
    left: 122px; 
}
.photo > img:nth-of-type(8){
    transform: scale(-1, 1);
    position: absolute;
    top: 70px; 
    left: 183px; 
}
.twitter{
    position: absolute;
    top: 51px;
    left: 471px;
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f5f5f5;
}
.twitter > img:nth-of-type(1){
    position: absolute;
    top: 43px;
    left: 0px;
}
.twitter > p:nth-of-type(1){
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
    position: relative;
    left: 60px;
}
.twitter > p:nth-of-type(2){
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
    position: relative;
    left: 60px;
    top: -60px;
}
.colortext{
    color: #77cbdf;
}
.information{
    position: absolute;
    top: 51px;
    left: 766px;
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f5f5f5;
}
.information > ul{
    list-style: url(./img/liststyle.png);
    text-transform: none;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    padding-inline-start: 10px;
}
.contactus{
    position: absolute;
    top: 51px;
    left: 1016px;
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f5f5f5;
}
.contactus > p{
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
}
.contactus > div{
    padding-right: 10px;
    border-top-color: #47adc6;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 10px;
}
.bottom3{
    position: absolute;
    top: 3143px;
    width: 1400px;
    height: 61px;
    background-color: #0b4b5a;
}
.bottom3 > p{
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: #8adcf0;
    position: absolute;
    left: 192px;
    top: 24px;
    margin: auto;
}
.bottommenu{
    margin: 0px;
    position: absolute;
    top: 25px;
    left: 760px;
    color: #8adcf0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    list-style: none; 
    min-height: 13px;
    min-width: 357px;
    font-weight: 400;

}
.bottommenuitem{
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
li.bottommenuitem:not(:last-of-type){
    border-right: 1px solid #BEF2FF;
}
.bottommenuitem:hover{
    text-transform: uppercase;
}