body{
    margin: 0px;
}
#head{
    background-color: #8C0A0D;
    height: 72px;
    width: 1302px;
}
#logo{
    position: absolute;
    top: 16px;
    left: 68px;
    height: 41px;
    width: 177px;
}
a{
    text-decoration: none;
    color: inherit;
}
#headmenu{
    position: absolute;
    margin: 0px;
    top: 39px;
    left: 370px;
}
#headmenuitem{
    list-style: none;
    float: left;
    color: #FCC57E;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 30px;
}
#language{
    position: absolute;
    margin: 0px;
    float: left;
    color: #FCC57E;
    text-transform: uppercase;
    top: 36px;
    left: 1161px;
}
#background{
    z-index: 3;
    position: absolute;
    background-image: url(./img/Слой\ 15.png);
    height: 687px;
    width: 1302px;
}
#plant{
    z-index: 3;
    position: absolute;
    top: 100px;
    left: 66px;
    border-style: inset;
    border-color: #35040C;
    border-width: 4px;
}
#planttext{
    position: absolute;
    top: 30px;
    left: 360px;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
}
#plantbutton{
    background-color: #F6CC79;
    height: 44px;
    width: 191px;
    border-bottom-color:  #BF670D;
    border-bottom-width: 5px;
    border-bottom-style: inset;
    line-height: 44px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    top: 107px;
    left: 492px;  
}
#leftarrow{
    position: absolute;
    top: 155px;
    left: 28px;
}
#rightarrow{
    position: absolute;
    top: 155px;
    left: 1087px;
}
#dot1{
    position: absolute;
    top: 310px;
    left: 554px;
}
#dot2{
    position: absolute;
    top: 310px;
    left: 577px;
}
#dot3{
    position: absolute;
    top: 310px;
    left: 601px;
}
#texthead1{
    z-index: 4;
    position: absolute;
    top: 461px;
    left: 66px;
    font-size: 18px;
    font-weight: bold;
} 
#texthead2{
    z-index: 4;
    position: absolute;
    top: 461px;
    left: 363px;
    font-size: 18px;
    font-weight: bold;
} #texthead3{
    z-index: 4;
    position: absolute;
    top: 461px;
    left: 662px;
    font-size: 18px;
    font-weight: bold;
} #texthead4{
    z-index: 4;
    position: absolute;
    top: 461px;
    left: 957px;
    font-size: 18px;
    font-weight: bold;
} 
.text{
    position: relative;
    top: 45px;
    left: 0px;
    font-size: 16px;
    font-weight: initial;
}
#foot{
    background-color: #8C0A0D;
    height: 72px;
    width: 1302px;
    position: relative;
    top: 685px;
}
#website{
    position: absolute;
    top: 37px;
    left: 66px;
    font-size: 14px;
    color: #FBC86B;
}
#adress{
    position: absolute;
    top: 13px;
    left: 362px;
    font-size: 14px;
    color: #FBC86B;
    line-height: 1.5;
}
#phone{
    position: absolute;
    top: 13px;
    left: 659px;
    font-size: 14px;
    color: #FBC86B;
    line-height: 1.5;
}
#email{
    position: absolute;
    top: 13px;
    left: 958px;
    font-size: 14px;
    color: #FBC86B;
    line-height: 1.5;
}
#facebook{
    position: absolute;
    top: 22px;
    left: 1165px;
}
#twitter{
    position: absolute;
    top: 22px;
    left: 1206px;
}











   