body{
    background-color: #F2F2F2;
}
.menu{
    color: #531603;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-bottom-color: #CBDDE7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 755px;
    padding-bottom: 10px;
}
.menu:nth-of-type(1){
    position: absolute;
    left: 20px;
    top: 10px;
}
.menu:nth-of-type(2){
    position: absolute;
    left: 20px;
    top: 390px;
}
.menu:nth-of-type(3){
    position: absolute;
    left: 20px;
    top: 680px;
}
.menu:nth-of-type(4){
    position: absolute;
    left: 20px;
    top: 970px;
}
.menu:nth-of-type(5){
    position: absolute;
    left: 20px;
    top: 1345px;
}
img:nth-of-type(1){
    position: absolute;
    top: 50px;
    left: 20px;
}
p:nth-of-type(1){
    margin: 0px;
    float: left;
    position: absolute;
    top: 50px;
    left: 135px;
    color: #556572;
}
p::first-line{
    color: #B9903E;
}
p:nth-of-type(1):before{
    content: "Pancakes....................................................................................................................\0024 2,00";
}
img:nth-of-type(2){
    position: absolute;
    top: 135px;
    left: 20px;
}
p:nth-of-type(2){
    margin: 0px;
    float: left;
    position: absolute;
    top: 135px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(2):before{
    content: "Fried eggs with tomatos............................................................................................\0024 4,50";
}
img:nth-of-type(3){
    position: absolute;
    top: 220px;
    left: 20px;
}
p:nth-of-type(3){
    margin: 0px;
    float: left;
    position: absolute;
    top: 220px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(3):before{
    content: "Fried eggs with ham................................................................................................\0024 12,50";
}
img:nth-of-type(4){
    position: absolute;
    top: 305px;
    left: 20px;
}
p:nth-of-type(4){
    margin: 0px;
    float: left;
    position: absolute;
    top: 305px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(4):before{
    content: "Porridge with butte.................................................................................................\0024 10,15";
}
img:nth-of-type(5){
    position: absolute;
    top: 430px;
    left: 20px;
}
p:nth-of-type(5){
    margin: 0px;
    float: left;
    position: absolute;
    top: 430px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(5):before{
    content: "Scallop carpaccio....................................................................................................\0024 8,00";
}
img:nth-of-type(6){
    position: absolute;
    top: 515px;
    left: 20px;
}
p:nth-of-type(6){
    margin: 0px;
    float: left;
    position: absolute;
    top: 515px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(6):before{
    content: "Chief`s sakted salmon.............................................................................................\0024 6,50";
}
img:nth-of-type(7){
    position: absolute;
    top: 600px;
    left: 20px;
}
p:nth-of-type(7){
    margin: 0px;
    float: left;
    position: absolute;
    top: 600px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(7):before{
    content: "Herring with boiled potatoes...................................................................................\0024 12,50";
}
img:nth-of-type(8){
    position: absolute;
    top: 720px;
    left: 20px;
}
p:nth-of-type(8){
    margin: 0px;
    float: left;
    position: absolute;
    top: 720px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(8):before{
    content: "Rucula salad with orange........................................................................................\0024 3,50";
}
img:nth-of-type(9){
    position: absolute;
    top: 805px;
    left: 20px;
}
p:nth-of-type(9){
    margin: 0px;
    float: left;
    position: absolute;
    top: 805px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(9):before{
    content: "Warm salad with beef.............................................................................................\0024 8,50";
}
img:nth-of-type(10){
    position: absolute;
    top: 890px;
    left: 20px;
}
p:nth-of-type(10){
    margin: 0px;
    float: left;
    position: absolute;
    top: 890px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(10):before{
    content: "Various fresh salad.................................................................................................\0024 10,50";
}
img:nth-of-type(11){
    position: absolute;
    top: 1010px;
    left: 20px;
}
p:nth-of-type(11){
    margin: 0px;
    float: left;
    position: absolute;
    top: 1010px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(11):before{
    content: "Three fish soup.......................................................................................................\0024 6,80";
}
img:nth-of-type(12){
    position: absolute;
    top: 1095px;
    left: 20px;
}
p:nth-of-type(12){
    margin: 0px;
    float: left;
    position: absolute;
    top: 1095px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(12):before{
    content: "Borsh with pampushka...........................................................................................\0024 4,50";
}
img:nth-of-type(13){
    position: absolute;
    top: 1180px;
    left: 20px;
}
p:nth-of-type(13){
    margin: 0px;
    float: left;
    position: absolute;
    top: 1180px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(13):before{
    content: "Chicken broth.........................................................................................................\0024 18,50";
}
img:nth-of-type(14){
    position: absolute;
    top: 1265px;
    left: 20px;
}
p:nth-of-type(14){
    margin: 0px;
    float: left;
    position: absolute;
    top: 1265px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(14):before{
    content: "Salmon cream soup.................................................................................................\0024 7,15";
}
img:nth-of-type(15){
    position: absolute;
    top: 1390px;
    left: 20px;
}
p:nth-of-type(15){
    margin: 0px;
    float: left;
    position: absolute;
    top: 1390px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(15):before{
    content: "Chief’s halibut fillet...............................................................................................\0024 6,80";
}
img:nth-of-type(16){
    position: absolute;
    top: 1475px;
    left: 20px;
}
p:nth-of-type(16){
    margin: 0px;
    float: left;
    position: absolute;
    top: 1475px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(16):before{
    content: "Pork shin with braised sourkraut...........................................................................\0024 4,50";
}
img:nth-of-type(17){
    position: absolute;
    top: 1560px;
    left: 20px;
}
p:nth-of-type(17){
    margin: 0px;
    float: left;
    position: absolute;
    top: 1560px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(17):before{
    content: "Beef steak with demi glace sauce ........................................................................\0024 18,50 ";
}
img:nth-of-type(18){
    position: absolute;
    top: 1645px;
    left: 20px;
}
p:nth-of-type(18){
    margin: 0px;
    float: left;
    position: absolute;
    top: 1645px;
    left: 135px;
    color: #556572;
}
p:nth-of-type(18):before{
    content: "Ouzbek pilau.........................................................................................................\0024 7,15";
}